src/com/macisdev/pizzasfxclient/webservicereference/PizzaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pizzawebservice.macisdev.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pizzawebservice.macisdev.com/" name="PizzaService">
<types>
<xsd:schema>
<xsd:import namespace="http://pizzawebservice.macisdev.com/" schemaLocation="http://localhost:8080/PizzasWebService/PizzaService?xsd=1"/>
</xsd:schema>
</types>
<message name="sendOrder">
<part name="parameters" element="tns:sendOrder"/>
</message>
<message name="sendOrderResponse">
<part name="parameters" element="tns:sendOrderResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="getOrders">
<part name="parameters" element="tns:getOrders"/>
</message>
<message name="getOrdersResponse">
<part name="parameters" element="tns:getOrdersResponse"/>
</message>
<portType name="PizzaService">
<operation name="sendOrder">
<input wsam:Action="http://pizzawebservice.macisdev.com/PizzaService/sendOrderRequest" message="tns:sendOrder"/>
<output wsam:Action="http://pizzawebservice.macisdev.com/PizzaService/sendOrderResponse" message="tns:sendOrderResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://pizzawebservice.macisdev.com/PizzaService/sendOrder/Fault/IOException"/>
</operation>
<operation name="getOrders">
<input wsam:Action="http://pizzawebservice.macisdev.com/PizzaService/getOrdersRequest" message="tns:getOrders"/>
<output wsam:Action="http://pizzawebservice.macisdev.com/PizzaService/getOrdersResponse" message="tns:getOrdersResponse"/>
</operation>
</portType>
<binding name="PizzaServicePortBinding" type="tns:PizzaService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sendOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PizzaService">
<port name="PizzaServicePort" binding="tns:PizzaServicePortBinding">
<soap:address location="http://localhost:8080/PizzasWebService/PizzaService"/>
</port>
</service>
</definitions>