src/com/macisdev/pizzasfxclient/webservicereference/PizzaShopWebService6.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://pizzashopwebservice.macisdev.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PizzaShopWebService" targetNamespace="http://pizzashopwebservice.macisdev.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pizzashopwebservice.macisdev.com/" elementFormDefault="unqualified" targetNamespace="http://pizzashopwebservice.macisdev.com/" version="1.0">

  <xs:element name="getAllStoredOrders" type="tns:getAllStoredOrders"/>

  <xs:element name="getAllStoredOrdersResponse" type="tns:getAllStoredOrdersResponse"/>

  <xs:element name="getOrders" type="tns:getOrders"/>

  <xs:element name="getOrdersResponse" type="tns:getOrdersResponse"/>

  <xs:element name="getStoredOrder" type="tns:getStoredOrder"/>

  <xs:element name="getStoredOrderResponse" type="tns:getStoredOrderResponse"/>

  <xs:element name="getStoredOrdersByPhoneNumber" type="tns:getStoredOrdersByPhoneNumber"/>

  <xs:element name="getStoredOrdersByPhoneNumberResponse" type="tns:getStoredOrdersByPhoneNumberResponse"/>

  <xs:element name="sendOrder" type="tns:sendOrder"/>

  <xs:element name="sendOrderResponse" type="tns:sendOrderResponse"/>

  <xs:complexType name="sendOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sendOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAllStoredOrders">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllStoredOrdersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="customerAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="customerName" type="xs:string"/>
      <xs:element minOccurs="0" name="customerPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="deliveryMethod" type="xs:string"/>
      <xs:element minOccurs="0" name="orderDateTime" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="orderElements" nillable="true" type="tns:orderElement"/>
      <xs:element minOccurs="0" name="orderId" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentMethod" type="xs:string"/>
      <xs:element name="totalPrice" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="extras" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="price" type="xs:double"/>
      <xs:element name="primaryKey" type="xs:int"/>
      <xs:element minOccurs="0" name="size" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getStoredOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getStoredOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getStoredOrdersByPhoneNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getStoredOrdersByPhoneNumberResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrders">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrdersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllStoredOrdersResponse">
    <wsdl:part element="tns:getAllStoredOrdersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStoredOrderResponse">
    <wsdl:part element="tns:getStoredOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendOrderResponse">
    <wsdl:part element="tns:sendOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrders">
    <wsdl:part element="tns:getOrders" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendOrder">
    <wsdl:part element="tns:sendOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllStoredOrders">
    <wsdl:part element="tns:getAllStoredOrders" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStoredOrder">
    <wsdl:part element="tns:getStoredOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrdersResponse">
    <wsdl:part element="tns:getOrdersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStoredOrdersByPhoneNumber">
    <wsdl:part element="tns:getStoredOrdersByPhoneNumber" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStoredOrdersByPhoneNumberResponse">
    <wsdl:part element="tns:getStoredOrdersByPhoneNumberResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PizzaShopService">
    <wsdl:operation name="sendOrder">
      <wsdl:input message="tns:sendOrder" name="sendOrder">
    </wsdl:input>
      <wsdl:output message="tns:sendOrderResponse" name="sendOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStoredOrders">
      <wsdl:input message="tns:getAllStoredOrders" name="getAllStoredOrders">
    </wsdl:input>
      <wsdl:output message="tns:getAllStoredOrdersResponse" name="getAllStoredOrdersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStoredOrder">
      <wsdl:input message="tns:getStoredOrder" name="getStoredOrder">
    </wsdl:input>
      <wsdl:output message="tns:getStoredOrderResponse" name="getStoredOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStoredOrdersByPhoneNumber">
      <wsdl:input message="tns:getStoredOrdersByPhoneNumber" name="getStoredOrdersByPhoneNumber">
    </wsdl:input>
      <wsdl:output message="tns:getStoredOrdersByPhoneNumberResponse" name="getStoredOrdersByPhoneNumberResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <wsdl:input message="tns:getOrders" name="getOrders">
    </wsdl:input>
      <wsdl:output message="tns:getOrdersResponse" name="getOrdersResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PizzaShopWebServiceSoapBinding" type="tns:PizzaShopService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStoredOrders">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllStoredOrders">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllStoredOrdersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStoredOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStoredOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStoredOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStoredOrdersByPhoneNumber">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStoredOrdersByPhoneNumber">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStoredOrdersByPhoneNumberResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOrders">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrdersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PizzaShopWebService">
    <wsdl:port binding="tns:PizzaShopWebServiceSoapBinding" name="PizzaShopServicePort">
      <soap:address location="http://localhost:8080/PizzaShopWebService/PizzaShopWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>